Repository Encocretados/uvlhub, pull requests merged in 2024-12, with the labels that each got.

#73 fix(dataset): locust test removed
  app/modules/dataset/tests/test_locust_dataset.py
Labels: bug, test

#88 fix(dataset): remove locust test
  app/modules/dataset/tests/test_locust_dataset.py
Labels: bug

#93 PR: Featuremodel test
  app/modules/featuremodel/tests/test_unit.py
Labels: test

#143 feat(explore): test unitarios del filtrado avanzado Closes #48
  app/modules/explore/services.py
  app/modules/explore/tests/test_unit_explore.py
Labels: test

#86 feat(dataset): feature rating datasets + frontend
  app/modules/dataset/models.py
  app/modules/dataset/repositories.py
  app/modules/dataset/routes.py
  app/modules/dataset/seeders.py
  app/modules/dataset/services.py
  app/modules/dataset/templates/dataset/view_dataset.html
  migrations/env.py
Labels: enhancement

#161 docs(documentation): Update DOCUMENTACION.md
  documentation/cocreta-hub-1/DIARIO-DE-EQUIPO-COCRETA-HUB-1.MD
  documentation/cocreta-hub-1/DOCUMENTACION.md
Labels: documentation, help wanted, high

#177 PR: implementación frase motivacional
  app/templates/base_template.html
Labels: low

#180 feat(public): interface test for motivational phrase
  app/modules/public/tests/test_selenium_public.py
Labels: low, test
